/* Google font*/
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Roboto:wght@100&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Roboto:wght@100&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Kalnia:wght@700&family=Roboto:wght@100&display=swap');
/* Webkit*/
::-webkit-scrollbar
{
    width: 7px;
    
}

::-webkit-scrollbar-thumb
{   overflow-y:scroll;
    background: var(--main-color);
    border-radius: 5px;
}
    /* Variables*/
:root{
    --gradient-white-bg:linear-gradient(180deg,#fff 0%,#edf4fa 51%,#e5eef7 100%);
    --gradient-color-bg:linear-gradient(185deg, white, #e2dfdf );
    --hover-box-shadow:rgba(0,0,0,0.19)0px 10px 20px,
    rgba(0,0,0,0.23)0px 6px 6px;     
    --gradient-white-bg2:linear-gradient(98deg,#e5eef7 0%,#fff 100%); 
    --main-color:#87ceeb;  
    --text-color:#000;
    --black-color:#000;  
    --bg-color:#c6c6c6;          
    --demac-color:grey;                       
    --input-bg:#dadada;  
    --input-opacity:25%;       
    --footer-color:#dddcdb;     
    --con-demac-color:grey;   
    --res-dec:#dddcdb;
}
.dark-theme{
    --bg-color:#333;
    --black-color:#fff;
    --footer-color:#3e3e3e;
    --demac-color:#fff;
    --input-bg:#3e3e3e; 
    --con-demac-color:#fff; 
    --res-dec:#3e3e3e;
    
}


   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'PT', Serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
    /*body*/
body{
    
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--black-color);
    transition: all 0.8s ease;
    overflow-x: hidden;
}
.demac-head{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    width: 1300px;
    height: 2px;
    padding: 20px;
    margin-top: 70px;
}

.demac2{
    background-color: var(--demac-color);
    padding: .1px;
}
    /*Navbar*/
header{
    padding: 15px 8%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: .3s;
    background-color: var(--bg-color);
}

header .logo{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--black-color);
}
ul.navlist{
    display: flex;
    margin-right: -15%;
}

.navlist li{
    margin: 0 7px;
}
.navlist li a{
    position: relative;
    display: inline-flex;
    font-weight: 600;
    color: var(--black-color);
    padding: 0 10px;
}
.navlist li a:after{
    content: "";
    position: absolute;
    background-color: #87ceeb;
    height: 4px;
    width:0;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
    margin-left: 10px;
}
.navlist li a:hover::after,
.navlist li a.active::after
{
  width: 80%;
  
}

.right-header{
    
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--black-color);
}
.btn{
    position: absolute;
    color: var(--black-color);
    margin-right: 3rem;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all .3s ease;
}
.btn:hover,.btn-box :hover{
    box-shadow: var(--hover-box-shadow);
}
.navlist .resp {
    display: none;
}
.dark-toogle{
    display: block;
    margin-left:-46px;
    color: var(--black-color);
    cursor: pointer;
    font-size:17px;
    
}
#menu-bar{
    font-size: 20px;
    color: var(--black-color);
    display: block;
    position:absolute ;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

    /* Section */

section {
    min-height: 100vh;
    padding: 0 8%;
  }
  /* Introduction */
  .home {
    min-height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
  }
  .scroll-down {
    color: #87ceeb;
    position: absolute;
    right: -20px;
    bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;
    color: #ccc;
  }
  .scroll-down a i{
    vertical-align: middle;
  }
  .scroll-down--left {
    left: -2px;
    right: auto;
    
  }
  .scroll-down a {
    background: #242323;
    border-radius: 7px;
    color: #ccc;
    cursor: pointer;
    padding: .3rem;
    color: #87ceeb;
    text-align: center;
    display: inline-block;
    animation: scroll 0.6s linear infinite alternate-reverse;
  }
 .home-detail {
    margin-top: 100px;
    position: relative;
    height: 150px;
    transform: translateY(40px);
  }
  
  .home-detail h3 {
    font-size: 5.5rem;
    color: var(--black-color);
    font-family: "Roboto", sans-serif;
  }
  
  .home .container-home {
    display: flex;
    align-items: center;
    
  }
  
  .multiple-text {
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 3rem;
  }

  /* Socials*/
    .socials{
    display: flex;
    gap: 10%;
    width: 220px;
    height: 45px;
    margin-top: 70px;
}

.socials .hand{
    width: 42px;
    height: 42px;
    font-size: 1.5rem;
    color: #fff;
    background: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    border-radius: 15%;
    z-index: 1;
    
}


.socials .hand:hover{
    background: #4d4747;
    color: #fff;
}

.bg-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-icon span{
    position: absolute;
    width: 35px;
    height: 35px;
    background: var(--gradient-color-bg);
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
  .con  {
    text-decoration: none;
    color:var(--black-color) ;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid #87ceeb;
    padding: 7px 25px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: 0.2s ease-in;
    top: 30%;
  }
  .con:hover {
    color: var(--black-color);
  }
  
   .con::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #87ceeb;
    left: -5%;
    bottom: 0;
    transform: skewX(-19deg);
    transition: 0.3s linear;
    z-index: -1;
  }
  
  .con:hover::after {
    width: 110%;
  }
  .multiple-text{
    position: fixed;
  }
  
  .hi {
    position: relative;
  }
  .hi::after {
    content: "<Davistheweb>";
    position: absolute;
    top: -4rem;
    left: -1rem;
    color: #808080;
    font-family: "La Belle Aurore", cursive;
    font-size: 18px;
  }
  
  .hi::before {
    content: "<Davistheweb>";
    position: absolute;
    bottom: -11.2rem;
    right: 0.2rem;
    color: #808080;
    font-family: "La Belle Aurore", cursive;
    font-size: 18px;
  }

  .hero-img{
    padding: 0 10% ;
    margin-left: 1%;
    position: relative;
    animation: floatImage 3s ease-in-out infinite;
    animation-delay: 0.9s;
    transform: translateY(40px);
  }
  .hero-img img{
    padding: 0 15%;
    position: fixed;
    width: 400px;
    height: auto;
    z-index: 10;
    
}
.seprator{
    margin: 70px -60px 30px;
    padding: .7rem;
    background: rgba(255,255,255,0.08);
    display: inline-block;
    color: var(--black-color);
    border-radius: 20px;
    border: 1px solid var(--black-color);
    cursor: pointer;
    
    
}
.seprator i{
    vertical-align: middle;
}
.about{
    color: var(--black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding: 0 50px;
}

.about img{
margin-top: 20px;
align-items: start;
justify-content: start;
    width: 100px;
}
.about-info1{
    color: var(--black-color);
    margin-top: 10px;
    font-size: 20px;
    
}
.about-info1 h1 span{
    text-decoration: 5px underline #87ceeb;
}
.about .info p{
    color: var(--black-color);
    font-size: 20px;
    width: 90%;
    
}
.bout2{
    margin-top: 20px;
}

.about .info button{
    margin-top: 35px;
    font-size: 18px;
}
.about .info button i{
    vertical-align: middle;
}
.hire-btn{
    top: 5%;
    background: var(--main-color);
    padding: 15px 70px;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.hire-btn:hover{
    
    box-shadow: var(--hover-box-shadow);
}
.guarantee{
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 1%;
}

.guarantee .item{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 0 30px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3 ease ;
}
.guarantee .item:hover{
    box-shadow: var(--hover-box-shadow);
}

.guarantee .item .icon{
    color: var(--black-color);
    width: 50px;
    height: 50px;
    display: flex;
    transition: background-color 0.3s ease;
}


.guarantee .item .icon i{
    font-size: 30px;   
}
.icon i{
    vertical-align: middle;
}
.guarantee .item .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guarantee .item .info h3{
    color: var(--black-color);
    font-size: 28px;
}
.guarantee .item .info p{
    color: var(--black-color);
    font-size: 15px;
    font-weight: 600;
}

.guarantee .item > i{
    vertical-align: middle;
    color: var(--black-color);
    font-size: 30px;
    transition: color 0.3s ease;
}

.skills{
    color: var(--black-color);
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}

.skills .left{
   margin-left: -35px;
}
.skills .left .info h3{
    color: var(--black-color);
    font-size: 30px;
    margin-bottom: 20px;
}
.skills .left .info h3 span{
    text-decoration: 5px underline  var(--main-color);
}
.skills .left .info p{
    color: var(--black-color);
    font-size: 19px;
    width: 70%;
}

.coding{
    color: var(--black-color);
    margin-top: 45px;
    
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.tool{
    color: var(--black-color);
    font-weight: 900;
    font-size: 35px;
    margin-top: 20px;
    margin-left: -35px;
    margin-bottom: 30px; 
}
.tool span{
    text-decoration: underline #87ceeb;
    
}

.coding .item-l{
    margin-top: 30px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.coding .item{
    background: #383d52;
    width: 175px;
    height: 175px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
      transition: all 0.5s ease-in-out;
    
}
.tool-name{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 10px;
    
}
.coding .item i{
    font-size: 100px;

    
}
#html   {
    color: #ff7300;
}
#css    {
    color: #4040ed ;
}

#javascript {
    color: #ffd000;
}
#php    {
    color: #4040ed;
}

#git    {
    color: #ff7300;
}

#github {
    color: #5097b3;
}
#bootstrap{
    color: #563c7a;
}

#react  {
    color: #87ceeb;
}
.coding .item-d{
    margin-top: 30px;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.coding .item-f{
    margin-top: 30px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.coding .item:hover{
    background: #5f5c5c;
}
/* Project style */
.project-info h3{
    color: var(--black-color);
    font-size: 30px;
    margin-bottom: 20px;
}
.project-info h3 span{
    text-decoration: 5px underline  var(--main-color);
}
.project-info p{
    color: var(--black-color);
    font-size: 19px;
    width: 70%;
}
a {
    text-decoration: none;
  }
  
  /*=============== CARD ===============*/
  .container {
    
    justify-content: center;
    align-items: center;
    max-height: 100vh;
  }
  
  .card__container {
    padding-block: 5rem;
  }
  
  .card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
   
  }
  
  .card__article {
    
    border-radius: 1.25rem;
    overflow: hidden;
  }
  
  .card__image {
    position: relative;
    margin-bottom: -.75rem;
  }
  
  .card__data {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  
  .card__img {
    width: 250px;
    margin: 0 auto;
   position: relative;
    z-index: 5;
      border-radius: 10px;
  display: flex;
    height: 180px;
  }
  
 
  .card__name {
    font-size: var(--h2-font-size);
    color: var(--black-color);
    margin-bottom: .75rem;
  }
  
  .card__description {
    font-weight: 500;
    margin-bottom: 1.75rem;
    color: var(--black-color);
  }
  
  .card__button {
    display: inline-block;
    background-color: var(--main-color);
    padding: .75rem 1.5rem;
    border-radius: .35rem;
    color: var(--black-color);
    font-weight: bolder;
    transition: all 0.5s ease;
  }
  .card__button:hover{
    background-color: var(--black-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    box-shadow: var(--hover-box-shadow);
    
  }
  .card__button i{
    vertical-align: middle;
  }
  
  /* Swiper class */
  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: "";
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--main-color);
    display: none;
    margin-top: -5%;
  }
  
  .swiper-button-prev {
    margin-left: 5px;
  }
  
  .swiper-button-next {
    margin-right: 5px;
  }
  
  .swiper-pagination-bullet {
    background-color: var(--main-color);
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--main-color);
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 320px) {
    .card__data {
      padding: 1rem;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: block;
        margin-right: -30rem;
        
        font-size: 30px;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 768px) {
    .card__content {
      margin-inline: 1rem;
    }
  
    .swiper-button-next,
    .swiper-button-prev {
      display: block;
      position: absolute;
      margin-right: -10px;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .card__container {
      max-width: 1120px;
    }
  
    .swiper-button-prev {
      left: -1rem;
    }
    .swiper-button-next {
      right: .1rem;
    }
  }
  
/* Contact Style*/
.contact-info{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.cText{
    width: 100%;  
    margin-bottom: 40px;
    
}
.cText h2{
    color: var(--black-color);
    text-transform: uppercase;
    font-weight:900;
}
.contact-i{
        width: 100%;
        
}
.contact-i .ss
{ 
    width:30%;
    height: 10.5vh;
}
.contact-i .sd{
    width:35%;
    height: 10.5vh;
    margin-left: 23px;
}
.contact-i .sh{
    width: 70%;
    height: 10.5vh;
}
.contact-i form textarea{
    width: 70%;
}
.contact-i form input,
.contact-i form textarea{
    background-color: var(--input-bg);
    padding: .8rem;
    outline: none;
    margin: .5rem ;
    border: 1px solid var(--input-bg);
    border-radius: 7px;
    font-size: 15px;
    color: var(--black-color);
    font-weight: 900;
}
.contact-i form input::placeholder,
.contact-i form textarea::placeholder
{
    color: var(--black-color);
    font-size: 12px;
    left: 5px;
}


.con-btn{
    background: #87ceeb;
    width: 30%;
    padding: 1rem 0;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: 900;
    color: #fff;  
    border: 2px solid #87ceeb;
    display: inline-block;
    overflow: hidden;
    transition: 0.29s ease-in;
    margin-left: 7px;
    
}
.con-btn i{
    vertical-align:middle;
}
.con-btn:hover{
    color: #87ceeb;
    background: #333;
    border: 3px solid #87ceeb;
    transition: 0.8s ease-in;

}

textarea{
    resize: none;
}
/* contact/img style*/
    .dav-img img{
        margin-top: 50px;
        padding: 0 10% 0 8%;
        position: relative;
        width: 200px;
        height: auto;
        z-index: 10;
    }
    .user-info{
        margin-top: .1%;
    }
    .icon-name p i{
        vertical-align: middle;
    }
    .icon-name{
        margin: 20px -10px 10px;
        padding: 1.5rem;
        display: inline-block;
        cursor: pointer;
    }
    .icon-name2{
        color: var(--black-color);
        width: 120%;
        margin: -30px -10px 10px;
        padding: 1.5rem;
        display: inline-block;
        cursor: pointer;
    }
    .icon-name p{
        color: var(--black-color);
        font-size: 20px;
    }
    /* Contact Socials*/
  
  .my-socials{
    
    display: flex;
    gap: 1rem;
    width: 300px;
    height: 45px;
    margin-top:-10px;
    align-items: center;
    justify-content: center;
}
.my-socials .hand{
    width: 42px;
    height: 42px;
    font-size: 1.5rem;
    color: #fff;
    background: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    border-radius: 15%;
    z-index: 1;
}


.my-socials .hand:hover{
    background: #4d4747;
    color: #fff;
}

.bg-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-icon span{
    position: absolute;
    width: 35px;
    height: 35px;
    background: var(--gradient-color-bg);
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate 1s linear infinite;
}

.hire-btn3{
    background: #87ceeb;
    text-align: center;
    margin-top: 20px;
    width: 60%;
    padding: 1rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    color: #fff;  
    display: inline-block;
    margin-left: 80px;
    transition: all 0.3s ease;
    
}
.hire-btn3:hover{
    border: 2px solid var(--main-color);
    background-color: var(--bcg-color);
    color: var(--main-color);

}
/* con demac*/
.cdemac{
    background-color:var(--con-demac-color);
    height: 350px;
    padding: 3px;
    margin-top: 15vh;
    margin-right: 100px;
    
}

/*
.cdemac1{
    background-color: #ccc;
    position: absolute;
    transform: translateY(225px);
    clip-path: circle();
    padding: 7px;
}
*/

/* Footer Style*/

footer{
    position: relative;
    background-color:var(--footer-color);
    padding: 80px 50px 40px;
    margin-top: 100px;
}
.ft-start{
    color: #fff;
    display: flex;
    align-items: end;
    justify-content: space-around;
    position: absolute;
    background-color: #87ceeb;
    padding: 30px 25px;
    border-radius: 10px;
    width: 60%;
    top: -15%;
    left: 35%;
}
.ft-start h3{
    font-weight: 600;
    margin-bottom: 25px;
}
.ft-start h3 span{
    text-decoration:2px underline;
    color: #fff;
}
.ft-start p{
    font-size: 17px;
    width: 35%;
    margin-bottom: 10px;
}
.contact-me{
    background-color: #333;
    color: #fff;
    font-size: 20px;
    border: 1px solid #333;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
}
.contact-me:hover{
    box-shadow: var(--hover-box-shadow);
}
.ft-start button i{
    vertical-align: middle;
}
footer .ft-clo{
    display: flex;
    align-items: start;
}

footer .ft-clo .about-ft-clo{
    flex: 3;
}
footer .abt-ft-clo .ft-name p{
    color: var(--black-color);
    margin-bottom: 25px;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 25px;
    font-weight: 600;
}
footer .abt-ft-clo .ft-name p i{
    vertical-align: middle;
}
footer .abt-ft-clo .ft-name2 p{
    color: var(--black-color);
    margin-left: 30px;
    font-size: 15px;
}
footer .abt-ft-clo .linkcol1{
    flex: 3;
}
footer .linkcol1{
    margin-top: 40px;
    margin-left: 170px;
    display: block;
}
footer .linkcol1 a{
    color: var(--black-color);
    display: block;
    text-decoration: 4px underline #87ceeb;
    font-size: 20px;
    line-height: 26px;
}
 /* Socials*/
  
  .fottersocials{
    display: flex;
    gap: 10%;
    width: 220px;
    height: 45px;
    margin-top: 40px;
    margin-left: 100px;
}

.fottersocials .hand{
    width: 42px;
    height: 42px;
    font-size: 1.5rem;
    color: #fff;
    background: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    border-radius: 15%;
    z-index: 1;
    
}


.socials .hand:hover{
    background: #4d4747;
    color: #fff;
}

.bg-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-icon span{
    position: absolute;
    width: 35px;
    height: 35px;
    background: var(--gradient-color-bg);
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer .youtube{
   flex: 4;
   position: relative;
   display: block;
}
footer .youtube-head{
    color: var(--white-color);
    margin-left: 70%;
    margin-top: -6.5%;
    font-size: 17px;
    position: absolute;
}
footer .youtube-description{
    color:var(--white-color);
    margin-left: 70%;
    margin-top:-4%;
    position: absolute;
    text-decoration: 2px underline var(--main-color);
}
footer .youtube-link{
    position: absolute;
    margin-left: 70%;
    margin-top: -1%;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    padding: .9rem;
    border-radius: 3px;
}
footer .youtube-link i{
    vertical-align: middle;
    color: red;
}
footer .youtube-link:hover{
    box-shadow: rgba(252, 2, 2, 0.19)0px 10px 20px,
    rgba(244, 27, 27, 0.23)0px 6px 6px;
}
.footer-end{
    text-align: center;
    margin-top: 70px;
    font-size: 25px;
    
}
.footer-end p{
    color: var(--black-color);
}
.footer-end a{
    color: #87ceeb;
   
}
.footer-end a span{
    text-decoration: 5px underline #87ceed;
}
@keyframes scroll {
    0% {
      transform: translateX(-7px);
    }
    100% {
      transform: translateX(7px);
    }
  }
  
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes moveText{
    0%,10%,100%{
        background-position: -24rem 0;
    }

    65%,85%{
        background-position: 0rem 0;
    }
}

@keyframes moveCursorText{
    0%,10%,100%{
        width: 0;
    }

    65%,78%,85%{
        width: 100%;
        opacity: 1;
    }

    75%,85%{
        opacity: 0;
    }
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotateText{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes progress{
   to{
    stroke-dashoffset: var(--target);
   }
}

/* BreakPoints*/
@media  (max-width:1200px)
{
    html{
        font-size: 90%;

}
@media (max-width:991px){

    body{
        overflow-x: hidden;
    }
    header,section,footer{
        padding-left: 3%;
        padding-right: 3%;
    }
    .hero-img{
        margin-bottom: -45rem;
        position: absolute;
  }
  .hero-img img{
    position: fixed;
    width: 350px;
    height: auto;
  }
    ul.navlist{
        margin-left: -8%;
    }
.home-detail h3{
    font-size: 3rem;
}
    .home{
        flex-direction: column-reverse;
    }
    
}
@media (max-width:770px){
   
   .scroll-down{
    display: none;
   }
    .hero-img{
        
        margin-bottom: -70rem;
        position: absolute;
  }
  .hero-img img{
    position: fixed;
    
}
    #menu-bar{
        display: block;
        color: var(--black-color);
        font-size: 40px;
    }
    .btn{
        display: none;
    }
    
    .dark-toogle{
        position: absolute;
        margin-right: 15%;
        font-size: 24px;
    }
    .navlist .resp{
        display: block;
        font-size: 15px;
        position: absolute;
        align-items: start;
        justify-content: center;
        margin-left: 10%;
    }
    .navlist{
        position: absolute;
        top: .0%;
        right: -100%;
        width: 270px;
        height: 100vh;
        background-color: var(--res-dec);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        transition: all 1s ease;
        border-radius: 10px;
    }

    .navlist a{
        color: white;
        padding: 0;
        z-index: 1;
        margin: 5vh 20%;
        
        font-size: 20px;
        text-transform: uppercase;
    }
    .navlist.open{
        right: 2%;
    }
}
@media (max-width:390px){
    .btn{
        display: none;
    }
}

}